<%= form_for(blog_article) do |f| %>
  <% if blog_article.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(blog_article.errors.count, "error") %> prohibited this blog_article from being saved:</h2>

  <ul>
    <% blog_article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>  
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :content %>
</div>  
<div class="field">
  <%= f.check_box :favorite %>
  <%= f.label 'Favorite'%><br />
</div>  
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
