<p id="notice"><%= notice %></p>

<h1>Blog Articles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_articles.each do |blog_article| %>
      <tr>
        <td><%= blog_article.title %></td>
        <td><%= link_to 'Show', blog_article %></td>
        <td><%= link_to 'Edit', edit_blog_article_path(blog_article) %></td>
        <td><%= link_to 'Destroy', blog_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Fetch news from BBC', fetch_articles_path, method: :post %>
